body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
}

#password-screen, #content {
    margin-top: 50px;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 22px;
}

.hidden {
    display: none;
}

#error-message {
    color: red;
}